.carouselContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  background-color: #56667a;
  /* border: #ccc solid 1px; */
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; /*as always, remove this and uncomment the line above if you don't like box-shadow*/
  border-radius: 10px;
}
.carouselInner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #7387a0;
  width: 96%;
  height: 95%;
  border: none;
  border-radius: 7px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.btnImgContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80%;

  padding: 0.5rem;
  height: 90%;
}
.btnContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 10%;
  height: 100%;
}
.carouselBtn {
  display: flex;
  flex-direction: column;
  height: 1.7rem;
  width: 1.7rem;
  background-color: #7387a0;
  color: #e6e4e4;
  border: none;
}
.carouselBtn:hover{
  transform: scale(1.2);
}
.carouselBtn:active{
  transform: scale(1)
}
.imgContainer {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 100%;
  position: relative;
}
.img {
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 6px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@media (min-width: 768px) {
  /* Adjust the breakpoint as needed */
  .imgContainer {
    width: 60%;
  }
  .btnImgContainer {
    padding: 3rem;
  }
}

/* <palette>
  <color name="Dark purple" hex="2c1320" r="44" g="19" b="32" />
  <color name="English Violet" hex="5f4b66" r="95" g="75" b="102" />
  <color name="Cool gray" hex="8797af" r="135" g="151" b="175" />
  <color name="Payne's gray" hex="56667a" r="86" g="102" b="122" />
   highlight #7387a0
</palette> */
