.cardContainer {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    background-color: white;
    width: 343px;
    height: 343px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  .cardBody {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 50%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .cardImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    overflow: hidden;
    padding: 1rem;
    border-radius: 10px 0 0 10px;
    z-index: 1;
    background-color: white
  }
  .cardImage {
    border-radius: 10px;
    object-fit: scale-down;
  }
  .cardButtonContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .addButton {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    background-color: #7387a0;
    color: white;
    border: none;
    border-radius: 5px;
    width: 100%;
  }
  .addButton:hover {
    background-color: #56667a;
  }
  .addButton:active {
    transform: scale(0.9);
  }
  @media (min-width: 768px) {
    .cardContainer {
      width: 343px;
    }
  }