.modalButton {
  background-color: #5a7d7cff;
  padding: 1%;
  width: 10vw;
}
.modalButton:hover {
  background-color: #5a7d7cff;
}
.modalButton:active {
  transform: scale(0.95);
}
.modalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #7695b740;
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 2rem;
  border-radius: 10px;
  background-color: #ffffff;
  z-index: 10000;
}
.modalCloseContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.closeButton {
  background-color: white;
  border: none;
  width: fit-content;
  height: fit-content;
}
.closeButtonIcon {
  width: 2rem;
  height: 2rem;
  display: inline;
  vertical-align: middle;
}
@media (min-width: 1024px) {
  .modalContent {
    width: 60%;
    height: 80%;
  }
}
