.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  border: #ccc solid 1px;
  border-radius: 10px;
  padding: 0.5rem;
}
.loginInput {
  width: 100%;
  border: #ccc solid 1px;
  border-radius: 5px;
  padding: 0.5rem;
  font-family: inherit;
}
.formGroup {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin: 0.5rem;
}
.formGroup * {
    margin-top: 5px;
}
.formGroup p,
.formGroup label {
    margin-left: 3px;
}
.buttonContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
  margin: 0.5rem;
}
.submitButton {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  background-color: #7387a0;
  color: white;
  border: none;
  border-radius: 5px;
}
.submitButton:hover {
  background-color: #56667a;
}
.submitButton:active {
  transform: scale(0.9);
}
.smallWarning {
  font-size: 10px;
}
@media (min-width: 768px) {
  /* Adjust the breakpoint as needed */
  .loginContainer {
    width: 50%;
    padding: 1rem;
  }
}
